@font-face {
  font-family: 'bignoodletitlingregular';
  src: url('./fonts/big_noodle_titling-webfont.woff2') format('woff2'),
       url('./fonts/big_noodle_titling-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'bignoodletitlingregular';
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}